#DMS-Flexi-Module-Pagestoshow-tab, #DMS-Flexi-Module-Shortcode-tab {
        background-color: #17a2b8;
        height: auto;
        border-bottom: 2px solid white;
    }
    .opted_short_code {
        border-bottom: 1px solid white;
    }
    
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    position: relative;
    z-index: 100;
    /*border-style: solid;
    border-width: 0 0 1 0;*/
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 70px 25px 0px 25px;
  height: 100%;
}
.tabcontentPage {
  color: white;
  display: none;
  padding: 70px 25px 21px 9px;
  height: 100%;
}

.DMS-selected {
    background-color: #17a2b8;
}

.DMS-selected:hover{
    background-color: #17a9b8;   
}

.opted_short_code span, .opted_pages span, .opted_posts span{
    display: block;
    padding: 10px;
    color: #fff;
}

.opted_short_code span{
    background-color: #17a2b8;
}
.opted_pages span, .opted_posts{
    background-color: #17a2b8;
}
.opted_pages{
    border-bottom: 1px white solid;
}

.DMS_Multi_select_options{
    width: 500px;
}