.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6
}

.table .table {
    background-color: #fff
}

.table-sm td,
.table-sm th {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-primary,
.table-primary>td,
.table-primary>th {
    background-color: #b8daff
}

.table-hover .table-primary:hover {
    background-color: #9fcdff
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #9fcdff
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
    background-color: #d6d8db
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #c8cbcf
}

.table-success,
.table-success>td,
.table-success>th {
    background-color: #c3e6cb
}

.table-hover .table-success:hover {
    background-color: #b1dfbb
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #b1dfbb
}

.table-info,
.table-info>td,
.table-info>th {
    background-color: #bee5eb
}

.table-hover .table-info:hover {
    background-color: #abdde5
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #abdde5
}

.table-warning,
.table-warning>td,
.table-warning>th {
    background-color: #ffeeba
}

.table-hover .table-warning:hover {
    background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #ffe8a1
}

.table-danger,
.table-danger>td,
.table-danger>th {
    background-color: #f5c6cb
}

.table-hover .table-danger:hover {
    background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #f1b0b7
}

.table-light,
.table-light>td,
.table-light>th {
    background-color: #fdfdfe
}

.table-hover .table-light:hover {
    background-color: #ececf6
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #ececf6
}

.table-dark,
.table-dark>td,
.table-dark>th {
    background-color: #c6c8ca
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b9bbbe
}

.table-active,
.table-active>td,
.table-active>th {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, .075)
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table-dark {
    color: #fff;
    background-color: #212529
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, .075)
}

@media (max-width:575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .table-responsive-sm>.table-bordered {
        border: 0
    }
}

@media (max-width:767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .table-responsive-md>.table-bordered {
        border: 0
    }
}

@media (max-width:991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .table-responsive-lg>.table-bordered {
        border: 0
    }
}

@media (max-width:1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .table-responsive-xl>.table-bordered {
        border: 0
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table-responsive>.table-bordered {
    border: 0
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

div.cropped {
    max-width: 100%;
    position: relative;
    /*overflow: hidden;
	margin: 5px 0px 5px 0px;
    padding: 2rem;*/
}

.croppedAdvertisement {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.fill {
    object-fit: fill;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.scale-down {
    object-fit: scale-down;
}

.headerAdvertisementSection {
    width: 200px;
    position: unset;
    z-index: 9999;
    margin: 5px 0px 0px 0px;
}

.headerTextTitle {
    font-size: 1.5em;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 15px 0px 0px 25px;
    color: #0082c8 !important;
    padding: 0;
    margin: 0;
    bottom: auto;
	padding: 20px;
    width: 100%;
	text-align: left;
    left: 0;
	z-index:99;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.headerTextBody {
    font-size: 1em !important;
    font-style: normal;
    color: white !important;
    position: absolute;
    bottom: 85px;
    left: 22px;
    top: auto;
	width: calc(100% / 2);
	z-index:99;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.p-flexi .HeaderlearnMore {
    padding: 8px 24px;
    font-size: 16px;
    /* background: #D4222b;
    border-radius: 30px; 
	border:1px solid #fff;*/
	background: #D4222b;
    border-radius: 30px;
    margin-top: 16px;
	margin-left: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 30px;
    top: auto;
    right: auto;
	z-index:99;
	color: #fff; 
	text-decoration:none !important;
}
.p-flexi .HeaderlearnMore:hover {
	background:#D4222b;
	border:none;
}
.HeaderlearnMore a {
   text-decoration:none;
}

.headerLogo {
    padding: 5px;
    width: 200px;
}


/* Content Advertisment Section */

.contentImage {
    width: 100%;
}

.contentAdvertisementSection {
    width: 100%;
    height: 36%;
    top: calc(100%-45px);
    /* padding: 50px 0px 8px 23px; 
	background: rgba(255, 255, 255, 0.41);
	*/
	position: initial;
	bottom: 0;
    text-align: center;
}

.contentTextTitle {
    font-size: 1.5em;
    position: absolute;
    top: 200px;
	left: 0;
    padding: 15px 0px 0px 25px;
    color: #0082c8 !important;
    padding: 0;
    margin: 0;
    bottom: auto;
	left: 40px;
	z-index:99;
	text-align:left;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.contentTextBody {
    font-size: 1em !important;
    font-style: normal;
    color: white !important;
    position: absolute;
    left: 43px;
    top: 260px;
	z-index:99;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */

}
.contentTextTitleSection {
    font-size: 1.5em;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 15px 0px 0px 25px;
    color: #0082c8 !important;
    padding: 0;
    margin: 0;
    bottom: auto;
	left: 23px;
	z-index:99;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.contentTextBodySection {
    font-size: 1em !important;
    font-style: normal;
    color:#fff !important;
    position: absolute;
    left: 25px;
    top: 100px;
	z-index:99;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */

}
.p-flexi .contentLearnMore {
    border: none;
    color: #153195;
    color: #FFFFFF;
    padding: 8px 24px;
    font-size: 16px;
    background: #D4222b;
    border-radius: 30px;
    margin-top: 0px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 45px;
    top: 300px;
    right: auto;
	z-index:99;
	color: #fff !important; 
	text-decoration:none !important;
	/* box-shadow: 0 0 20px #eee;*/
}
.contentLearnMore a {
   text-decoration:none;
}
.p-flexi .contentLearnMoreTwoLayout {
    border: none;
    color: #153195;
    color: #FFFFFF;
    padding: 8px 24px;
    font-size: 16px;
    background: #D4222b;
    border-radius: 6px;
    margin-top: 260px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 24px;
    top: -122px;
    right: auto;
    z-index: 99;
    color: #fff !important;
    text-decoration: none !important;
   /* box-shadow: 0 0 20px #eee; */
}
.contentLearnMoreTwoLayout a {
   text-decoration:none;
}
.contentAdRight{
	width:50%;
}
.contentAdLeft{
	width:40%;
}
.Content-img-gradient{
	position: unset;
    display: inline-block;
    width: 40% !important;
}

.Content-img-gradient:after {
  content:'';
  position:absolute;
  top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 100%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 100%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
  background: background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.Content-img-gradient img{
  display:block;
}

/* Sidebar Advertisment Section */

.sidebarImage {
    /*opacity: 0.3;*/
}

.img-gradient{
  position:unset;
  display:inline-block;
  width: 100%;
}

.img-gradient:after {
  content:'';
  position:absolute;
  top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 100%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 100%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
  background: background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}


.p-flexi {
    /* padding: 10px; */
    position: relative;
    /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 4px rgba(0, 0, 0, 0.25);*/
}

.p-flexi .banner-image-container {
    overflow: hidden;
}

.p-flexi .sidebarTextBody {
    font-size: 1em !important;
    font-style: normal;
    color: white !important;
    position: absolute;
    bottom: 85px;
    left: 40px;
	line-height:20px !important;
    top: auto;
	z-index:99;
	/* 
	width: calc(100% / 2);
	text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.p-flexi .sidebarTextTitle {
    font-size: 1.5em !important;
    position: absolute;
    top: 60px;
    left: 20px !important;
    color: #0082c8 !important;
    padding: 0;
    margin: 0;
    bottom: auto;
	padding: 20px;
    /* width: calc(100% / 2); */
    left: 0;
	z-index:99;
	line-height: 20px;
	/* text-shadow: 2px 2px 0 #fff, -1px -1px 3px #FFF, 1px -1px 3px #fff, -1px 1px 3px #fff, 1px 1px 3px #fff; */
}

.p-flexi .learnMore {
    border: none;
    color: #153195;
    color: #FFFFFF;
    padding: 8px 24px;
    font-size: 16px;
    background: #D4222b;
    border-radius: 30px;
    margin-top: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 40px;
    top: auto;
    right: auto;
	z-index:99;
	color: #fff !important; 
	text-decoration:none !important;
}
.learnMore a {
   text-decoration:none !important;
}

.banner-image-container {
    position: relative;
	background-size: cover;
	overflow: hidden;
    width: 100% !important;
    background-size: cover !important;
	height: 160px;
    animation-name: anim-banner-up-down;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes anim-banner-up-down {
    10% {background-position: center;}
    25% {background-position: top;}
    35% {background-position: top;}
    65% {background-position: bottom;}
    75% {background-position: bottom;}
    90% {background-position: center;}
}
.banner-image-container-sidebar{
	position: relative;
	background-size: cover;
	overflow: hidden;
    width: 100% !important;
	height: 16vw;
	background-size: cover !important;
    animation-name: anim-banner-left-right;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes anim-banner-left-right {
    10% {background-position: center;}
    25% {background-position: right;}
    35% {background-position: right;}
    65% {background-position: left;}
    75% {background-position: left;}
    90% {background-position: center;}
}


.all-btn {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #08c;
    display: inline-block;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #FFF;
    background: #08c;
    border-radius: 4px;
}
