.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

.headerCard {
    background-color: #2b8bc3 !important;
}

.contentCard {
    background-color: #fff !important;
}

.sidebarCard {
    background-color: #98caff !important;
}

.headerCardTitle {
    color: #fff !important;
}

.sidebarCardTitle {
    color: #fff !important;
}

.pluginHeader {
    border: 1px solid #e3dede;
    margin-top: 15px;
    background-color: azure;
    box-shadow: 5px 5px lightsteelblue;
}

.pluginDescription {
    margin-top: 20px;
}

.descriptionHeader {
    color: #2b8bc3;
}

.adminHeader {
    color: #2b8bc3;
    padding: 20px 0px 0px 45px;
}

.adminTable {
    margin: 50px 0px 50px 0px;
}

.headerLogo {
    padding: 5px;
    width: 200px;
}

#wpcontent {
    margin-left: 140px !important;
}

.formGroupText {
    position: relative;
}

.selectBox {
    max-width: 465px !important;
}

.formPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 465px;
}

.formBottom {
    padding-bottom: 2rem !important;
    margin-bottom: 0rem !important;
}

.deleteButton {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.updateButton {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
}

#example_filter {
    float: right;
}

#example_paginate {
    float: right;
}

label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: 0rem;
}

.required {
    color: red;
}

.errmsg {
    margin-top: .5rem;
    color: red;
}

.Adnameerrmsg {
    margin-top: .5rem;
    color: red;
}

#errmsg {
    margin-top: .5rem;
    color: red;
}

.colors {
    padding: 0;
	width: 40px;
	height: 38px;
	margin-left: 20px;
	float: left;
	background-color: transparent;
	border: 1px solid #ccc !important;
	border-left-color: rgb(204, 204, 204);
	border-radius: 0px !important;
}
.colorlabel {
    width: 100px;
    float: left;
    padding: 3px;
    height: 38px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: none;
    /* position: unset; */
}
.helptext{
	width:540px;
}
@media (max-width: 320px){
	.adminHeader{
	font-size:15px;
}
.containerTab{
	margin-left: -80px
}
.colorlabel {
    width: 100px;
    margin-top: 20px;
    float: left;
    padding: 3px;
    height: 38px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: none;
}
.colors {
    padding: 0;
    width: 40px;
    height: 38px;
    margin-left: 20px;
    float: left;
    top: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-radius: 0px;
}
.helptext{    
	width: 250px;
    margin-bottom: 30px;
}
.pluginHeader {
	display:inline-table;
}
}
@media (max-width: 768px){
	.containerTab{
	margin-left: -80px
}
.adminHeader{
	font-size:25px;
}
.formlayout{
	margin-left: 25px;
}
.helptext {
    width: 400px;
    margin-bottom: 30px;
}
.colorlabel {
    width: 100px;
    float: left;
    padding: 3px;
    height: 38px;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: none;
	margin: 0px;
	border-radius: 0px !important;
}
.colors {
    padding: 0;
    width: 40px;
    height: 38px;
    margin-left: 20px;
    float: left;
    background-color: transparent;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-radius: 0px;
	top: 0px;
}
}
@media (max-width: 1024px){
	.containerTab{
	margin-left: 10px
}
.formlayout{
	margin-left: 0px;
}
.helptext {
    width: 400px;
    margin-bottom: 30px;
}
}
.tooltip1 {
        position: relative !important;
        display: inline-block !important;
        width: auto !important;
        font-size: 14px;
    }
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 500px !important;
    background-color: #2b8bc3 !important;
    color: #fff !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 5px 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    top: -1px !important;
    right: 110% !important;
}
.tooltip1 .tooltiptext::after {
        content: "";
        position: absolute !important;
        top: 50% !important;
        left: 100% !important;
        margin-top: -5px !important;
        border-width: 5px !important;
        border-style: solid !important;
        border-color: transparent black transparent transparent !important;
    }
      
    .tooltip1:hover .tooltiptext {
        visibility: visible !important;
    }

    
    