/* PLUGIN STYLES */
* { margin: 0; padding: 0; }
a:link{
  text-decoration: none !important;
}
.mobilead {
   height: 400px;
}
.desktopad {
    height: 160px;
}
.tabview {
    height: 400px;
}
.longad{
    height: 600px;
}
.longad .learnmore1{
    width: 100px;
    font-size: 16px !important;
    height: 30px !important;
    padding: 3px 0px !important;
}
.tabview .learnmore1{
    height: 400px;
}
.mobilead .BannerContainer{
    background-size: cover;
    animation-name: anim-banner-left-right !important;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/*new style*/
.DmsContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid transparent;
}
.DmsFlexi{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    padding: 0px 120px 0px 20px;
    width: calc(100% / 1);

}

.DmsFlexi .contentsectiontitle {
    font-size: calc(0.8rem + 0.5vh);
    font-family: Arial, Helvetica;
    color:#fff;

    text-decoration: none;
    text-shadow: 2px 1px 2px rgb(0 0 0 / 50%), 1px 2px rgb(0 0 0 / 50%);
}

.DmsFlexi .ContentSectionSubtitle {
    font-weight: bold;
    font-family: Arial, Helvetica;
    position: relative;
    color:#fff;
    font-size: calc(0.5rem + 0.5vh) !important;
    text-decoration: none;
    text-shadow: 2px 1px 2px rgb(0 0 0 / 50%), 1px 2px rgb(0 0 0 / 50%);
}
.formLabel {
    padding: 0px;
    margin-bottom: 0.3rem !important;
}

/*.headerlearnmore{
    border: none;
    text-decoration: none !important;
    color: #FFFFFF !important;
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    bottom: 30px;
    left: 30px;
    top: auto;
    right: auto;
    box-shadow: 3px 4px 1px 0px rgb(0 0 0 / 90%), 0px 6px 12px rgb(0 0 0 / 42%);
    text-shadow: 0px 2px 0px rgb(0 0 0 / 90%);
    background: linear-gradient(to bottom, #ef6365 5%, #e32422 100%);
    width: 100px;
    margin-top: -5px;
    height:25px;
}
.squarelearnmore{
    border-radius: 6px;
    border: none;
    text-decoration: none !important;
    color: #FFFFFF !important;
    padding: 8px 24px;
    font-size: 16px;
    box-shadow: 3px 4px 1px 0px rgb(0 0 0 / 90%), 0px 6px 12px rgb(0 0 0 / 42%);
    text-shadow: 0px 2px 0px rgb(0 0 0 / 90%);
    background: linear-gradient(to bottom, #ef6365 5%, #e32422 100%);
    width: 100px;
    text-align: center;
    height:25px;
}
.squarecontentsectiontitle {
    font-family: Arial, Helvetica;
    position: relative;
    color:#fff;
    font-size: calc(0.8rem + 0.5vh);
  
      text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
    
}

.squareContentSectionSubtitle {
    font-weight: bold;
    font-family: Arial, Helvetica;
    position: relative;
    color:#fff;
    font-size: calc(0.5rem + 0.5vh) !important;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}*/
/* end new style*/


@keyframes anim-banner-up-down {
    10% {background-position: center;}
    25% {background-position: top;}
    35% {background-position: top;}
    65% {background-position: bottom;}
    75% {background-position: bottom;}
    90% {background-position: center;}
}
@keyframes anim-banner-left-right {
    10% {background-position: center;}
    25% {background-position: right;}
    35% {background-position: right;}
    65% {background-position: left;}
    75% {background-position: left;}
    90% {background-position: center;}
}
.banner-landscape {

}
.banner-square {

}
.BannerContainer {
    width: 100%;
    position: relative;
}
.DmsFlexi,
.DmsFlexi * {
    box-sizing: border-box;
}
.DmsFlexi a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.BannerContainer a img {
    width: 100%;
    margin: 0;
}

.DmsFlexi .ContentTitle {
    font-size: calc(1rem + 0.5vh);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 0;
    margin: 0;
    bottom: auto;
    text-align: left;
    z-index: 99;
        /* text-shadow: 2px 2px 5px #fff; */
    text-shadow: 0px 2px 2px rgb(255 255 255 / 60%);
}
.DmsFlexi .ContentSubTitle {
    font-size: calc(1rem + 0.5vh);
    font-style: italic;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 0;
    top: auto;
    word-wrap: break-word;
}
.DmsFlexi .learnmore1 {
    border: none;
    text-decoration: none !important;
    color: #FFFFFF;
    font-family: Arial, Helvetica;
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 16px;
    height: 40px;
    display: block;
    text-align: center;
    max-width: 150px;
    /*box-shadow: 3px 4px 1px 0px rgb(0 0 0 / 90%), 0px 6px 12px rgb(0 0 0 / 42%);*/
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 90%), 0px 2px 4px rgb(0 0 0 / 42%);
    text-shadow: 0px 2px 0px rgb(0 0 0 / 90%);
    background-color: #e32422;
   /* background: linear-gradient(to bottom, #ef6365 5%, #e32422 100%);*/
}
/*.p-flexi .learnmore {
    border: none;
    text-decoration: none !important;
    color: #FFFFFF !important;
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: unset;
    bottom: 0px;
    width: 150px;
    left: 30px;
    top: auto;
    right: auto;
    box-shadow: 3px 4px 1px 0px rgb(0 0 0 / 90%), 0px 6px 12px rgb(0 0 0 / 42%);
    text-shadow: 0px 2px 0px rgb(0 0 0 / 90%);
    background: linear-gradient(to bottom, #ef6365 5%, #e32422 100%);
}*/

.p-flexi .ContentTitle,
.p-flexi .ContentSubTitle {
    padding: 20px;
    width: 100%;
    left: 0;
}

.DmsFlexi .BannerContainer {
    overflow: hidden;
}

.DmsFlexi:first-child:last-child {
    padding: 0;
    margin: 0;
}


.p-flexi.banner-tall .ContentTitle,
.p-flexi.banner-tall .ContentSubTitle,
.p-flexi.banner-tall .learnmore {
    text-align: center;
    left: 20px;
    padding-left: 0;
    padding-right: 0;
}
.p-flexi.banner-tall .ContentSubTitle{
    bottom: 70px;
}
.p-flexi.banner-tall .ContentTitle,
.p-flexi.banner-tall .ContentSubTitle,
.p-flexi.banner-tall .learnmore {
    width: calc(100% - 40px);
    display: block;
}
.DmsFlexi.banner-tall .BannerContainer {
    height: 680px;
}

/*@media (min-width: 768px) and (max-width: 1024px) {
  
  .desktopad .container{
    max-width:100%;
  }

  .desktopad .container .row .col-auto:first-child{
     -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .tabview .container .row .col-auto:last-child,.mobilead .container .row .col-auto:last-child{
     -ms-flex: 0 0 100%;
   flex: 0 0 100%;
max-width: 100%;
width:100% !important;

  }

 .tabview .LearnMore1 {
    position: relative;
    margin: 0 auto;
}
.mobilead .container{
    text-align: right;
}
.mobilead .LearnMore1{
    float:right;
}
  
}*/

@media (max-width:1000px) {
    .DmsContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-square {
        width: calc(100% / 1) !important;
        box-sizing: border-box;
    }
    .p-flexi .ContentTitle {
        word-wrap: break-word;
    }
}

@media (min-width:580px) {
   /* .DmsFlexi .ContentSectionTitle,
    .DmsFlexi .ContentSectionSubtitle {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .p-flexi .ContentSectionTitle {
        padding-top: 30px;
    }*/
    .banner-wide {}
    .DmsFlexi.banner-wide .ContentSectionSubtitle,
    .DmsFlexi.banner-wide .ContentSectionTitle {
        width: 100%;
        padding-right: 0;
    }
    .p-flexi.banner-wide .ContentSubTitle {
        /* bottom: 2px; */
    }
    .DmsFlexi.banner-wide .BannerContainer {
        height: 100%;
        animation-name: anim-banner-up-down;
        animation-duration: 40s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    .DmsFlexi.banner-tall .BannerContainer {
        animation-name: anim-banner-left-right;
        animation-duration: 40s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

}
@media (max-width:580px) {
    .DmsContainer {
        flex-direction: column;
    }
    .p-flexi {
        width: 100% !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 8px;
        margin-left: 0;
        margin-right: 0;
    }
    .p-flexi:first-child {
        margin-top: 0;
    }
    .p-flexi:last-child {
        margin-bottom: 0;
    }
    .p-flexi.banner-wide {
        width: 100%;
    }
}

@media (max-width: 580px){
     .p-flexi .ContentTitle,
    .p-flexi .ContentSubTitle {
        font-family: arial;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 60px;
        text-align: left;
        width: 439px;
    }
    .p-flexi .ContentTitle {
        padding-top: 30px;
    }
.DmsFlexi.banner-wide .BannerContainer {
    height: 350px;
    width: 100%;
    animation-name: anim-banner-up-down1 !important;
    animation-duration: 0s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.DmsFlexi.banner-wide .LearnMore1 {
    position: relative !important;
    right: 0px !important;
    bottom: 0px !important;
}


}
.DmsFlexi.banner-wide .LearnMore1 {
    position: relative;
    
}

.DmsFlexi.banner-tall .BannerContainer {
        animation-name: anim-banner-left-right;
        animation-duration: 40s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    .DmsFlexi.banner-wide .BannerContainer {
    width: 100%;
    animation-name: anim-banner-up-down;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.tabview .container .row .col-auto:last-child,.mobilead .container .row .col-auto:last-child{
     -ms-flex: 0 0 100%;
   flex: 0 0 100%;
max-width: 100%;
width:100% !important;

  }

 .tabview .LearnMore1 {
    position: relative;
    margin: 0 auto;
}
.mobilead .container{
    text-align: left;
}
.mobilead .LearnMore1{
    float:left;
}
.tabview .BannerContainer {
    background-size: cover;
    animation-name: none !important;;
    animation-duration: 40s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes animate {
            0% {
                opacity: 0;
            }
  
            50% {
                opacity: 0.7;
            }
  
            100% {
                opacity: 0;
            }
        }